global
  daemon
  log {{ ansible_host }}:5140 local1
  maxconn 5000


defaults
  log global
  mode http
  option redispatch
  option httplog
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  timeout check 10s


listen zabbix_web
  bind {{ keepalived_vip }}:10080
  balance source
  server zabbix_web_1 {{  hostvars[groups.monitoring_master[0]].ansible_host }}:80 check inter 2000 rise 2 fall 5
  server zabbix_web_2 {{  hostvars[groups.monitoring_master[1]].ansible_host }}:80 check inter 2000 rise 2 fall 5 
  server zabbix_web_3 {{  hostvars[groups.monitoring_master[2]].ansible_host }}:80 check inter 2000 rise 2 fall 5 

listen grafana
  bind {{ keepalived_vip }}:13000 
 balance source
  server grafana_1 {{  hostvars[groups.monitoring_master[0]].ansible_host }}:3000 check inter 2000 rise 2 fall 5
  server grafana_2 {{  hostvars[groups.monitoring_master[1]].ansible_host }}:3000 check inter 2000 rise 2 fall 5
  server grafana_3 {{  hostvars[groups.monitoring_master[2]].ansible_host }}:3000 check inter 2000 rise 2 fall 5


listen mariadb
  mode tcp
  timeout client 3600s
  timeout server 3600s
  option tcplog
  option tcpka
  option mysql-check user haproxy_check post-41
  bind {{ keepalived_vip }}:3306
  server maria_1 {{  hostvars[groups.monitoring_master[0]].ansible_host }}:3306 check inter 2000 rise 2 fall 5
  server maria_2 {{  hostvars[groups.monitoring_master[1]].ansible_host }}:3306 check inter 2000 rise 2 fall 5 backup
  server maria_3 {{  hostvars[groups.monitoring_master[2]].ansible_host }}:3306 check inter 2000 rise 2 fall 5 backup
