KEEPALIVED_PASSWORD: "{{ keepalived_paasword }}"
KEEPALIVED_PRIORITY: "{{ groups['monitoring_master'].index(inventory_hostname) + 50 }}"

KEEPALIVED_UNICAST_PEERS: "#PYTHON2BASH:[ '{{  hostvars[groups.monitoring_master[0]].ansible_host }}','{{  hostvars[groups.monitoring_master[1]].ansible_host }}','{{ hostvars[groups.monitoring_master[2]].ansible_host }}']"

KEEPALIVED_VIRTUAL_IPS: "{{ keepalived_vip }} dev {{ keepalived_vip_interface }}"
KEEPALIVED_INTERFACE: "{{ keepalived_vip_interface }}"
