
GRANT ALL PRIVILEGES ON *.* TO 'root'@'localhost'IDENTIFIED BY '{{ mariadb_root_password }}' WITH GRANT OPTION;
GRANT ALL PRIVILEGES ON *.* TO 'root'@'%'IDENTIFIED BY '{{ mariadb_root_password }}' WITH GRANT OPTION;
GRANT ALL PRIVILEGES ON *.* TO 'syncuser'@'%'IDENTIFIED BY 'syncuser' WITH GRANT OPTION;
INSERT INTO mysql.user (Host,User,ssl_cipher,x509_issuer,x509_subject,authentication_string) values ('%','haproxy_check','','','','');
flush privileges;
