
[server]  
[mysqld]  
server_id={{ groups['monitoring_master'].index(inventory_hostname) + 100 }}
bind-address={{ ansible_host }}
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
user=mysql
skip-external-locking
skip-name-resolve
character-set-server=utf8
port=3306
expire_logs_days=10
max_connection=10000
connect_timeout=5
wait_timeout=600
max_allowed_packet=16M
thread_cache_size=128
sort_buffer_size=4M
bulk_insert_buffer_size    =16M
tmp_table_size=32M
max_heap_table_size    =32M
[galera]  
wsrep_causal_reads=O
wsrep_provider_options="gcache.size=128M"
wsrep_certify_nonPK=ON   
#log-bin=/app/galera/mysql-bin
#log_slave_updates=1     
query_cache_size=0           
wsrep_on=ON  
wsrep_provider=/usr/lib/galera/libgalera_smm.so #galera library  
wsrep_cluster_name=MariaDB-Galera-Cluster  
wsrep_cluster_address="gcomm://{{ groups.monitoring_master[0] }}:4567,{{ groups.monitoring_master[1] }}:4567,{{ groups.monitoring_master[2] }}:4567"  
wsrep_node_name="{{ ansible_hostname }}"
wsrep_sst_auth=syncuser:syncuser
#wsrep_sst_method=xtrabackup-v2
wsrep_sst_method=rsync
binlog_format=row  
default_storage_engine=InnoDB  
innodb_autoinc_lock_mode=2
wsrep_slave_threads=8  
innodb_flush_log_at_trx_commit=0   
innodb_buffer_pool_size=1G
[embedded]  
[mariadb]  
[mariadb-10.3]

