LogType=file
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server={{  hostvars[groups.monitoring_master[2]].ansible_host }},{{  hostvars[groups.monitoring_master[1]].ansible_host }},{{  hostvars[groups.monitoring_master[0]].ansible_host }}
Timeout=30
#ServerActive={{ zabbix_server_vip }}:10051
Hostname={{ ansible_hostname }}
Include=/etc/zabbix/zabbix_agentd.d/
LoadModulePath=/usr/lib64/zabbix/agent/
LoadModule=zbxpcp.so
