[SERVICE]
    Flush        2
    HTTP_Server  On
    HTTP_Listen  0.0.0.0
    HTTP_Port    2020
    Log_Level    info

#### Ceph Logs
[INPUT]
    Name        tail
    Path        /var/log/ceph/ceph-osd.*.log
    Tag         ceph.osd
[INPUT]
    Name        tail
    Path        /var/log/ceph/ceph-mon.*.log
    Tag         ceph.mon


#### Kolla Logs
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/neutron/*.log
    Tag         openstack.neutron
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/haproxy/*.log
    Tag         openstack.neutron
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/nova/*.log
    Tag         openstack.nova
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/cinder/*.log
    Tag         openstack.cinder
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/glance/*.log
    Tag         openstack.glance
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/horizon/*.log
    Tag         openstack.horizon
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/keystone/*.log
    Tag         openstack.keystone
[INPUT]
    Name         tail
    Path         /var/log/kolla_logs/mariadb/*.log
    Tag         openstack.mariadb

#### Syslog
[INPUT]
    Name         tail
    Path         /var/log/bash_history/bash_command.log
    Tag         syslog.commands
[INPUT]
    Name         tail
    Path         /var/log/messages
    Tag         syslog.messages

[FILTER]
    Name record_modifier
    Match *
    Record hostname ${HOSTNAME}
    Record product Awesome_Tool


[OUTPUT]
    Name          forward
    Match *
    Host          {{  hostvars[groups.monitoring_master[2]].ansible_host }} {{  hostvars[groups.monitoring_master[1]].ansible_host }} {{  hostvars[groups.monitoring_master[0]].ansible_host }}
    Port          {{ fluentd_port }}
