
## SetENV ##
source /etc/zabbix/script/admin-openrc.sh
HOSTNAME=`hostname`
OPENSTACK="{{ venv_directory}}/bin/openstack --os-auth-url=$OS_AUTH_URL --os-domain-name=$OS_USER_DOMAIN_NAME --os-identity-api-version=$OS_IDENTITY_API_VERSION --os-interface=$OS_INTERFACE --os-username=$OS_USERNAME --os-password=$OS_PASSWORD --os-project-domain-name=$OS_PROJECT_DOMAIN_NAME --os-project-name=$OS_PROJECT_NAME"


if [ $# = 0 ]  
then  
 echo "no insert Argument"

elif [ $1 = list ];then
TEMP_FILE="/tmp/.op_vol.txt"
CONCNT=`${OPENSTACK} volume service list -f value  --host $HOSTNAME  -c Binary   >$TEMP_FILE && cat $TEMP_FILE | wc -l`
DISC_VAR="SERVICE"
for (( i=1; i<=$CONCNT; i++ ))
        do
                CONNAME=${i}p
                if [ $i -eq 1 ];then
                        echo "{ \"data\":["
                        sed -n ${CONNAME} $TEMP_FILE | awk '{print "{ \"{{ '{#' }}'$DISC_VAR'}\":" "\"" $1"\"" "}"}'
                else
                        sed -n ${CONNAME} $TEMP_FILE | awk '{print ",{\"{{ '{#' }}'$DISC_VAR'}\":" "\""$1"\"" "}"}'
                fi

                if [ $i -eq $CONCNT ];then
                        echo "]}"
                fi
        done
rm -rf $TEMP_FILE


elif [ $1 = state ];then
        ${OPENSTACK} volume  service list --host $HOSTNAME --service $2 -c State -f value
elif [ $1 = fail_list ];then
        ${OPENSTACK} volume service list -c State -c Binary -c Host --host $HOSTNAME -f value | grep -v up | awk '{print $1 "("$2")"}'
elif [ $1 = up_cnt ];then
        ${OPENSTACK} volume service list -c State --host $HOSTNAME -f value | grep  up | wc -l
elif [ $1 = total_cnt ];then
        ${OPENSTACK} volume service list --host $HOSTNAME -f value | wc -l
fi
