


export OS_AUTH_URL=http://{{ kolla_internal_vip }}:35357/v3
export OS_USER_DOMAIN_NAME={{ os_user_domain_name }}
export OS_IDENTITY_API_VERSION=3
export OS_AUTH_PLUGIN=password
export OS_INTERFACE=internal
export OS_USERNAME={{ os_username }}
export OS_PASSWORD={{ os_passowrd }}
export OS_PROJECT_DOMAIN_NAME={{ os_project_domain_name }}
export OS_PROJECT_NAME={{ os_project_name }}
export OS_TENANT_NAME={{ os_tenant_name }}

{{ CURL }} -v -X POST $OS_AUTH_URL/auth/tokens?nocatalog   \
-H "Content-Type: application/json"   \
-d '{ "auth": { "identity": { "methods": ["password"],"password": {"user": {"domain": {"name": "'"$OS_USER_DOMAIN_NAME"'"},"name": "'"$OS_USERNAME"'", "password": "'"$OS_PASSWORD"'"} } }, "scope": { "project": { "domain": { "name": "'"$OS_PROJECT_DOMAIN_NAME"'" }, "name":  "'"$OS_PROJECT_NAME"'" } } }}' \
 2>&1 | grep X-Subject-Token |  awk '{print $3}'

