
## SetENV ##
source /etc/zabbix/script/admin-openrc.sh
HOSTNAME=`hostname`
OPENSTACK="{{ venv_directory}}/bin/openstack --os-auth-url=$OS_AUTH_URL --os-domain-name=$OS_USER_DOMAIN_NAME --os-identity-api-version=$OS_IDENTITY_API_VERSION --os-interface=$OS_INTERFACE --os-username=$OS_USERNAME --os-password=$OS_PASSWORD --os-project-domain-name=$OS_PROJECT_DOMAIN_NAME --os-project-name=$OS_PROJECT_NAME"


if [ $# = 0 ]  
then  
 echo "no insert Argument"

elif [ $1 = list ];then
TEMP_FILE="/tmp/.op_hypervisor.txt"
CONCNT=`${OPENSTACK} hypervisor list -f value -c 'Hypervisor Hostname'  >$TEMP_FILE && cat $TEMP_FILE | wc -l`


HYPERVISOR="HYPERVISOR"
for (( i=1; i<=$CONCNT; i++ ))
        do
                CONNAME=${i}p
                if [ $i -eq 1 ];then
                        echo "{ \"data\":["
                        sed -n ${CONNAME} $TEMP_FILE | awk '{print "{ \"{{ '{#' }}'$HYPERVISOR'}\":" "\"" $1"\"" "}"}'
                else
                        sed -n ${CONNAME} $TEMP_FILE | awk '{print ",{\"{{ '{#' }}'$HYPERVISOR'}\":" "\""$1"\"" "}"}'
                fi

                if [ $i -eq $CONCNT ];then
                        echo "]}"
                fi
        done

elif [ $1 = state ];then
        ${OPENSTACK} hypervisor show $2 -f json | {{ JQ }} .$3

elif [ $1 = fail_list ];then
        ${OPENSTACK} hypervisor list -f json | {{ JQ }} '.[] | select(.State!="up")| ."Hypervisor Hostname"'

elif [ $1 = up_cnt ];then
        ${OPENSTACK} hypervisor list  -f json | {{ JQ }} '.[] | select(.State=="up")| ."Hypervisor Hostname"' | wc -l

elif [ $1 = total_cnt ];then
        ${OPENSTACK} hypervisor list -f value | wc -l
fi

